Django==5.2 
gunicorn==22.0.0 
whitenoise==6.7.0 
psycopg2==2.9.10 
python-decouple==3.8 
Pillow==10.4.0 
django-crispy-forms==2.4   # EVEN NEWER VERSION
crispy-bootstrap5==2025.6 
django-allauth==0.63.1 
dj-database-url==2.1.0 
python-dotenv==1.1.1 
djangorestframework==3.15.2   # ADD THIS LINE
djangorestframework-simplejwt==5.4.0   # ADD THIS LINE
django-cors-headers==4.4.0   # ADD THIS LINE
